{erl_opts, [debug_info, {i, "apps/erl_proxy/src/include"}]}.
{deps, []}.
{pre_hooks, [
    {"(linux|darwin|solaris|win32)", compile, "make -C apps/erl_proxy/c_src"},
    {"(freebsd)", compile, "gmake -C apps/erl_proxy/c_src"}
]}.
{post_hooks,[
    {"(linux|darwin|solaris|win32)", clean, "make -C apps/erl_proxy/c_src clean"},
    {"(freebsd)", clean, "gmake -C apps/erl_proxy/c_src clean"}
]}.
{relx, [{release, {erl_proxy, "0.1.0"},
         [erl_proxy,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {include_src, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
