[
  {erl_proxy, [
    {proxy_list, [
        {"0.0.0.0", 8897, [proxy_sock5, start_link, [[
            {auth, {2, "alphago", "123456"}},
            {forward, {"127.0.0.1", 10887, {2, "delphi", "123456"}}}
        ]]]},
        {"127.0.0.1", 10887, [proxy_sock5, start_link, [[
            {auth, {2, "delphi", "123456"}},
            {forward, {"xx.xx.xx.xx", 80, {16#7c, "xxxxx"}}}
        ]]]}
    ]}
  ]}
].
